<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>
    <h1>Menú</h1>
    <ul>
        <li><a href="#">Buscar habitación</a></li>
        <li><a href="#">Ver habitación</a></li>
        <li><a href="#">Generar reserva</a></li>
        <li><a href="#">Modificar reserva</a></li>
        <li><a href="#">Eliminar reserva</a></li>
        <li><a href="#">Pedir servicio de lavandería</a></li>
        <li><a href="#">Notificar servicio de lavandería</a></li>
        <li><a href="#">Actualizar servicio de lavandería</a></li>
        <li><a href="#">Generar pago</a></li>
        <li><a href="#">Ver facturas</a></li>
        <li><a href="{% url 'cerrar_sesion' %}">Cerrar sesión</a></li>
    </ul>
</body>
</html>
